<section>
    <mat-card *ngIf="errorMessage$| async as errorMessage" class="notification">{{errorMessage}}</mat-card>
</section>
<section>
    <button mat-fab *ngIf="listening$ | async; else mic" (click)="stop()">
      <mat-icon class="soundwave">mic</mat-icon>
    </button>
    <ng-template #mic>
      <button mat-fab (click)="start()">
        <mat-icon>mic</mat-icon>
      </button>
    </ng-template>
</section>
<section >
  <label for="temporary">Spoken Sentence</label>
  <textarea id="temporary" [value]="transcript$ | async" disabled="true">hello world</textarea>
</section>
<section>
  <label for="full">Full Transcript</label>
  <div id="full" class="showSpaces" (click)="wordClicked($event)" [innerHTML]="totalTranscript | transcriptFormat"></div>
</section>
<section>
  <div *ngFor="let error of errorTypes">
      <button [class.active]="error==activeErrorType" (click)="changeErrorType(error)">{{error}}</button>
  </div>
</section>
{{activeErrorType}}

{{totalTranscript}}

<span class="pronunciation outer">hello</span><span class="grammar"><span class="pronunciation">Hello asdlkjsc </span></span>

I´ve no Idea why. I<span class="grammar"> am </span><span class="pronunciation"><span class="grammar">actua</span></span><span class="pronunciation">lly</span> here what about you?
