/*
-------------
    Errors
  --pronunciation-color: #ffd500;
  --grammar-color: #ec7134;
  --wordchoice-color: #ff009b;
  --tense-color: #ea2828;
-------------
 */

/*
  Colors
 */

:root :host /deep/ {
  --pronunciation-color: #8c2c2c;
  --grammar-color: #C8963E;
  --wordchoice-color: #032340;
  --tense-color: #7C9EB2;
  --delete-color: black;
  --edit-color: black;
  --save-color: black;
  --record-start: #86BA90;
  --record-hover: #628869;
  --record-hover-active: #ae4946;
  --record-end: #E5625E;

}

/*
  Error spans
  */
:host /deep/ .pronunciation, .grammar, .wordchoice, .tense, .delete, .edit {
  display: inline-block;
}

:host /deep/ span.pronunciation, span.grammar, span.wordchoice, span.tense, span.delete, span.edit  {

}

:host /deep/ span.pronunciation {
  border-top: 2px solid var(--pronunciation-color);
  border-bottom: 2px solid var(--pronunciation-color);
}

:host /deep/ span.pronunciation.right {
  border-right: 2px solid var(--pronunciation-color);
}

:host /deep/ span.pronunciation.left {
  border-left: 2px solid var(--pronunciation-color);
}

:host /deep/ span.grammar {
  border-top: 2px solid var(--grammar-color);
  border-bottom: 2px solid var(--grammar-color);
}

:host /deep/ span.grammar.right {
  border-right: 2px solid var(--grammar-color);
}

:host /deep/ span.grammar.left {
  border-left: 2px solid var(--grammar-color);
}

:host /deep/ span.wordchoice {
  border-top: 2px solid var(--wordchoice-color);
  border-bottom: 2px solid var(--wordchoice-color);
}

:host /deep/ span.wordchoice.right {
  border-right: 2px solid var(--wordchoice-color);
}

:host /deep/ span.wordchoice.left {
  border-left: 2px solid var(--wordchoice-color);
}

:host /deep/ span.tense {
  border-top: 2px solid var(--tense-color);
  border-bottom: 2px solid var(--tense-color);
}

:host /deep/ span.tense.right {
  border-right: 2px solid var(--tense-color);
}

:host /deep/ span.tense.left {
  border-left: 2px solid var(--tense-color);
}

button.pronunciation {
  background-image: linear-gradient(to right, white 50%, var(--pronunciation-color) 50%);
}

button.grammar {
  background-image: linear-gradient(to right, white 50%, var(--grammar-color) 50%);
}

button.wordchoice {
  background-image: linear-gradient(to right, white 50%, var(--wordchoice-color) 50%);
}

button.tense {
  background-image: linear-gradient(to right, white 50%, var(--tense-color) 50%);
}

button.delete {
  background-image: linear-gradient(to right, white 50%, var(--delete-color) 50%);
}

button.edit {
  background-image: linear-gradient(to right, white 50%, var(--edit-color) 50%);
}

button.save {
  background-image: linear-gradient(to right, white 50%, var(--save-color) 50%);
}

.student-errors-container button {
  background-size: 200% 100%;
  background-repeat: repeat-x;
  background-position: -10% 100%;
  transition: background-position 0.5s, color 0.5s;
}

.student-errors-container button:hover {
  background-position: -90%;
  color: white;
}

.student-errors-container button.active {
  background-position: -100%;
  color: white;
}

/*
  Grid/Flexbox Styles
 */

#grid {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 100%;
  width: 100%;
}

/*
  Left Side
 */

.properties-container {
  display: grid;
  min-height: 0;
  grid-template-rows: 7em minmax(0, 1fr);
  padding: 1rem;
}

/*
  Student Properties Container
 */

.student-properties-container {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}

/*
  Record Button
 */

.student-properties-container .record-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.student-properties-container .record-button button {
  width: 2.5em;
  height: 2.5em;
  border: 0;
  color: black;
  text-align: center;
  border-radius: 5px;
  outline: none;
  font-size: 1.5em;
  background-color: var(--record-start);
}

.student-properties-container .record-button button.active{
  background-color: var(--record-end);
}

.student-properties-container .record-button button:hover{
  background-color: var(--record-hover);
}

.student-properties-container .record-button button.active:hover{
  background-color: var(--record-hover-active);
}

.student-properties-container .record-button button span {
  font-size: .7em;
}

/*
  Transcript
 */

.transcript-container {
  display: flex;
  flex-direction: column;
}

.transcript-container label {
  margin-top: 1rem;
}

:host /deep/ #full-transcript {
  flex: 1;
  overflow-y: auto;
  background-color: white;
  padding: 1em 1em 1em 1em;
  margin: 0rem 1rem 0rem 0rem;
  font-size: 1.3em;
  border: solid 1px #333;
  border-radius: 5px;
  line-height: 1.3em;
}

.transcipt {
  white-space: pre-wrap;
}

/*
  Right Side
 */

.student-errors-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

/*
  Error Buttons
 */

.error-item, .student-errors-container .split-buttons {
  height: 100%;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.student-errors-container button, .student-errors-container .split-buttons button {
  padding-left: 20px;
  border: solid 1px #333;
  border-radius: 5px;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  overflow-x: hidden;
}

/*
  Splitted Buttons
 */

.student-errors-container .split-buttons {
  display: flex;
}

.split-buttons button:first-child {
  margin-right: .5rem;
}

.split-buttons button:last-child {
  margin-left: .5rem;
}

/*
  Not used
 */

.notes-container {
  display: flex;
  flex-direction: column;
}

.notes-flex-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.notes-flex-item textarea {
  flex-grow: 1;
}

.notes-container label {
  margin-top: 20px;
}

.notes-container textarea {
  resize: none;
  overflow-y: scroll;
}

.points-container {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 0;
  min-width: 0;
  overflow-y: hidden;
  align-items: center;
  font-size: 1em;
}

.points-container .flex-container-points {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.points-container span {
  display: flex;
  flex-grow: 0;
  white-space: pre;
}

.points-container div {
  text-align: center;
}

.points-container input {
  display: flex;
  flex-grow: 1;
  outline: none;
  border: none;
  min-width: 10px;
  max-width: 50px;
  border-bottom: 1px black solid;
  text-align: right;
}

.button-row {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-row button {
  margin: 0.5em;
  min-height: 2em;
  background-image: linear-gradient(to right, white 50%, black 50%);
  background-size: 200% 100%;
  background-repeat: repeat-x;
  background-position: -10% 100%;
  transition: background-position 0.5s, color 0.5s;
}

.button-row button:hover {
  background-position: -90%;
  color: white;
}

.button-row button.active {
  background-position: -100%;
  color: white;
}

.speech-result-width {
  width: 100%;
}

textarea {
  text-align: justify;
  text-align-last: center;
}

section textarea {
  border: solid 1px #333;
  border-radius: 5px;
  color: black;
  background: white;
}

.temporaryText {
  color: grey;
}

