<!--section>
  <mat-card *ngIf="errorMessage$| async as errorMessage" class="notification">{{errorMessage}}</mat-card>
</section-->

<section *ngIf="showEditPopup" class="edit-transcript-container popup">
  <div id="edit-transcript">
    <label for="edit-transcript">Edit Transcript</label>
    <textarea class="edit-transcript-text-container" [(ngModel)]="textToEdit"></textarea>
    <div class="button-row">
      <button><fa-icon (click)="toogleEditPopup()" [icon]="faTimesCircle"></fa-icon></button>
      <button><fa-icon (click)="confirmEditText()" [icon]="faCheckCircle"></fa-icon></button>
    </div>
  </div>
</section>

<div id="grid">
  <div class="properties-container">
    <section class="student-properties-container">
      <div>
        <h1>{{activeStudent.name}}</h1>
        {{exam.name}} | {{activeStudent.course}}
      </div>
      <div class="record-button">
        <button (click)="toogleListening()" class="recording" [class.active]="listening()">
          <fa-icon *ngIf="listening()" [icon]="faMicrophone"></fa-icon>
          <fa-icon *ngIf="!listening()" [icon]="faMicrophoneSlash"></fa-icon>
        </button>
        <div>
          <span *ngIf="!listening()">Start Recording</span>
          <span *ngIf="listening()">Stop Recording</span>
        </div>
      </div>
    </section>
    <section class="transcript-container">
      <label for="full-transcript">Full Transcript</label>
      <div id="full-transcript">
        <span class="showSpaces transcipt" (click)="wordClicked($event)"
              [innerHTML]="totalTranscript | transcriptFormat"></span>
        <span class="temporaryText">{{transcript$ | async}}</span>
      </div>
    </section>
    <section class="notes">
      <label for="notes-container">Notes for Feedback</label>
      <div id="notes-container">
        <textarea class="notes-text-container" [(ngModel)]="feedback"></textarea>
      </div>
    </section>
  </div>
  <section class="student-annotations-container">
      <div class="error-item" *ngFor="let annotation of annotationTypes">
        <button [class.active]="annotation==activeAnnotationType && !activeAnnotationPositive" class="{{annotation.split(' ').join('')}}"
                (click)="changeErrorType(annotation); setActiveAnnotationPositive(false)">
          <div>{{annotation}}</div>
          <div>-</div></button>
        <button [class.active]="annotation==activeAnnotationType && activeAnnotationPositive"
                (click)="changeErrorType(annotation); setActiveAnnotationPositive(true)"
                class="positive-annotation">
          +</button>
      </div>
      <div class="split-buttons">
        <button class="delete" [class.active]="'delete'==activeAnnotationType" (click)="changeErrorType('delete')">Delete Annotation</button>
        <button class="edit" [class.active]="'edit'==activeAnnotationType" (click)="changeErrorType('edit')">Edit Text</button>
      </div>
      <div class="split-buttons save-buttons">
        <button class="save" (click)="saveFeedbackAndTranscript()">Save</button>
        <button class="save" (click)="saveAndRouteToFeedback()">Save & Exit</button>
      </div>
  </section>
  <!--
  <section>
    <button mat-fab *ngIf="listening$ | async; else mic" (click)="stop()">
      <mat-icon class="soundwave">mic</mat-icon>
    </button>
    <ng-template #mic>
      <button mat-fab (click)="start()">
        <mat-icon>mic</mat-icon>
      </button>
    </ng-template>
  </section>
  <section class="notes-container">
      <div class="notes-flex-item">
        <label for="notesStudent">Notes For Student</label>
        <textarea name="notesStudent" id="notesStudent"></textarea>
      </div>
      <div class="notes-flex-item">
        <label for="notesExaminer">Notes For Eaxminer (cannot be seen by student)</label>
        <textarea name="notesExaminer" id="notesExaminer"></textarea>
      </div>
    </section>
    <section class="points-container">
      <div>
      <h3>Points reached:</h3>
      <div class="flex-container-points">
        <input type="number" [(ngModel)]="exam.reachedPoints"><span>/{{exam.maxPoints}} Pts.</span>
      </div>
      </div>
      <div class="button-row">
        <button>Save</button>
        <button>Save & Exit</button>
      </div>
    </section>
  -->
</div>
