.speech-result-width {
  width: 100%;
}

textarea {
  text-align: justify;
  text-align-last: center;
}

section {
  padding: 15px;
  text-align: center;
}

section textarea {
  width: 100%;
  border: solid 1px #333;
  border-radius: 5px;
  color: black;
  background: white;
}

.showSpaces {
  white-space: pre;
}

.temporaryText {
  color: grey;
}

/*all spans*/
:host /deep/ .generalError, .pronunciation, .grammar, .wordchoice, .anothererror, .errortype5 {
  display: inline-block;
}


:host /deep/ .generalError {
  border-bottom: 2px solid green;
  display: inline-block;
}

:host /deep/ .pronunciation {
  border-bottom: 2px solid blueviolet;
  display: inline-block;
}

:host /deep/ .grammar {
  border-bottom: 2px solid orange;
  display: inline-block;
}

:host /deep/ .wordchoice {
  border-bottom: 2px solid red;
  display: inline-block;
}

:host /deep/ .anothererror {
  border-bottom: 2px solid dodgerblue;
  display: inline-block;
}

:host /deep/ .errortype5 {
  border-bottom: 2px solid blue;
  display: inline-block;
}



button.active {
  color: red;
}
